// ======================================== MIN WIDTH 320 PX ======================================================

@media screen and (min-width: 320px) {
  .extrasmall-card {
    width: 15vw;
    height: 12vh;
    .extrasmall-image {
      width: 100%;
      height: 80%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
    .extrasmall-price {
      margin: 0;
      width: 100%;
      height: 20%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.4em + 0.3vw);
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.2px;

      /* On White/Grey 100 */

      color: #7780a1;
      margin-top: 4px;
    }
  }

  .cardsmall {
    width: 35vw;
    margin-top: 10px;
    height: 30em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      // box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      width: 100%;
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      // padding: 0px 10px;
    }
    .card-bottom-info {
      display: flex;
      border-bottom: 0.5px solid lightgrey;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 10px;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.5vw + 0.5em);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 150%;
      white-space: nowrap;
      width: fit-content;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      height: fit-content;
    }
  }

  .card {
    width: 85%;
    height: 27em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 62%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 62%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      display: flex;
      height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 15%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.5vw + 0.5em);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: calc(0.5vw + 0.5em);
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5em);
      line-height: 150%;
      white-space: nowrap;
      width: 90%;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: 18%;
      border-bottom: 0.5px solid lightgrey;
    }
  }
}

// ======================================== MIN WIDTH 480 PX ======================================================
@media screen and (min-width: 480px) {
  .extrasmall-card {
    width: 11vw;
    height: 12vh;
    .extrasmall-image {
      width: 100%;
      height: 80%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
    .extrasmall-price {
      margin: 0;
      width: 100%;
      height: 20%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.4em + 0.3vw);
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.2px;

      /* On White/Grey 100 */

      color: #7780a1;
      margin-top: 4px;
    }
  }

  .cardsmall {
    width: 25vw;
    margin-top: 10px;
    height: 30em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      // box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      width: 100%;
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
    }
    .card-bottom-info {
      display: flex;
      border-bottom: 0.5px solid lightgrey;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 10px;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.4vw + 0.5em);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 150%;
      white-space: nowrap;
      width: fit-content;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      height: fit-content;
    }
  }

  .card {
    width: 85%;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      display: flex;
      height: fit-content;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .price-tag {
      width: 26%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.4em + 0.4vw);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: calc(0.5vw + 0.5em);
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 60%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5em);
      line-height: 150%;
      white-space: nowrap;
      width: 90%;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: 18%;
      border-bottom: 0.5px solid lightgrey;
    }
  }
}

@media screen and (min-width: 600px) {
  .extrasmall-card {
    width: 8vw;
  }
}

// ======================================== MIN WIDTH 768 PX ======================================================

@media screen and (min-width: 768px) {
  .extrasmall-card {
    width: 7vw;
    height: 12vh;
    .extrasmall-image {
      width: 100%;
      height: 80%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
    .extrasmall-price {
      margin: 0;
      width: 100%;
      height: 20%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.4em + 0.3vw);
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.2px;

      /* On White/Grey 100 */

      color: #7780a1;
      margin-top: 4px;
    }
  }

  .cardsmall {
    width: 14vw;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      // box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      width: 100%;
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.4vw + 0.3em);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .card-bottom-info {
      display: flex;
      border-bottom: 0.5px solid lightgrey;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column-reverse;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 150%;
      white-space: nowrap;
      width: fit-content;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      height: fit-content;
    }
  }

  .card {
    width: 85%;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      flex-direction: row;
      padding: 0px 10px;
    }
    .price-tag {
      width: 26%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.4em + 0.4vw);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: calc(0.5vw + 0.5em);
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 60%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5em);
      line-height: 150%;
      white-space: nowrap;
      width: 90%;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: 18%;
      border-bottom: 0.5px solid lightgrey;
    }
  }
}

// ======================================== MIN WIDTH 1024 PX ======================================================

@media screen and (min-width: 1024px) {
  .extrasmall-card {
    width: 6vw;
    height: 12vh;
    .extrasmall-image {
      width: 100%;
      height: 80%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
    .extrasmall-price {
      margin: 0;
      width: 100%;
      height: 20%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.4em + 0.3vw);
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.2px;

      /* On White/Grey 100 */

      color: #7780a1;
      margin-top: 4px;
    }
  }

  .cardsmall {
    width: 13vw;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      // box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      width: 100%;
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .card-bottom-info {
      display: flex;
      border-bottom: 0.5px solid lightgrey;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 150%;
      width: fit-content;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: fit-content;
    }
  }

  .card {
    width: 90%;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      display: flex;
      height: fit-content;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .price-tag {
      width: 26%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: calc(0.4em + 0.4vw);
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: calc(0.5vw + 0.5em);
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 60%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5em);
      line-height: 150%;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;
      width: 90%;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: 18%;
      border-bottom: 0.5px solid lightgrey;
    }
  }
}

// ======================================== MIN WIDTH 1200 PX ======================================================

@media screen and (min-width: 1200px) {
  .extrasmall-card {
    width: 5vw;
    height: 12vh;
    .extrasmall-image {
      width: 100%;
      height: 80%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
    .extrasmall-price {
      margin: 0;
      width: 100%;
      height: 20%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.4em + 0.3vw);
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.2px;

      /* On White/Grey 100 */

      color: #7780a1;
      margin-top: 4px;
    }
  }

  .cardsmall {
    width: 13vw;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      // box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      width: 100%;
      display: flex;
      height: fit-content;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .price-tag {
      width: 40%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 45%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 100%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 150%;
      white-space: nowrap;
      width: fit-content;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;
      white-space: nowrap;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: fit-content;
    }
  }

  .card {
    width: 90%;
    height: 35em;
    // border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-image-small {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .card-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      box-shadow: -5px 7px 16px 0px rgba(135, 135, 135, 0.44);
    }
    .info-section {
      width: 100%;
      height: 35%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-info {
      display: flex;
      height: fit-content;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0px 10px;
    }
    .price-tag {
      width: 26%;
      background: rgba(42, 39, 201, 0.1);
      border-radius: 4px;
      height: 26%;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      font-family: "Sora";
      font-style: normal;
      font-weight: 600;
      font-size: 0.8vw;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: 0.2px;
      white-space: nowrap;

      /* Primary/Purple Dark 100 */

      color: #2a27c9;
    }
    .card-title {
      font-family: "Sora";
      font-style: normal;
      font-weight: 700;
      font-size: calc(0.5vw + 0.5em);
      line-height: 25px;
      letter-spacing: 0.2px;
      text-align: start;
      margin: 0;

      /* On White/Dark 100 */

      color: #060714;
      width: 60%;
    }
    .timer {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.5vw + 0.5em);
      line-height: 150%;
      white-space: nowrap;
      width: 90%;
      /* identical to box height, or 21px */

      letter-spacing: 0.2px;

      /* On White/Dark 100 */

      color: #060714;
      text-align: start;
      padding: 0px 10px;
      height: 18%;
      border-bottom: 0.5px solid lightgrey;
    }
  }
}

@media screen and (min-width: 1350px) {
  .card {
    width: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .card {
    width: 80%;
  }
}
