@media screen and (min-width: 320px) {
  .footer-div {
    width: 100%;
    height: 60vh;
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-data {
    width: 100%;
    height: 100%;
    border: 2px solid #e2e2ed;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .footer-div .footer-data .footer-left {
    padding: 20px 0px 30px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-left .logo {
    background-image: url("../assets/Logo.png");
    width: 20vw;
    height: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-left .options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: calc(0.5em + 0.5vw);
            column-gap: calc(0.5em + 0.5vw);
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    /* identical to box height, or 21px */
    text-align: center;
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-center {
    padding: 20px 0px 45px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-center .center-options {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5em + 0.5vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.2px;
    padding: 0;
    /* On White/Dark 100 */
    color: #060714;
  }
  .footer-div .footer-data .footer-center .primary-button {
    padding: 13px 12px;
    width: 44%;
    font-size: calc(0.5em + 0.5vw);
    white-space: nowrap;
  }
  .footer-div .footer-data .footer-center .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div .footer-data .footer-center .contact-icons .icon {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-right {
    border-left: 2px solid #e2e2ed;
    padding: 20px 60px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    text-align: left;
    /* or 24px */
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-right .newsletter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6.5vh;
    width: 16vw;
    background: #ffffff;
    -webkit-box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
            box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    padding: 5px 10px;
    border-radius: 16px;
  }
  .footer-div .footer-data .footer-right .newsletter-div input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: calc(0.4em + 0.4vw);
    border-bottom: 1px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-right .newsletter-div input:focus {
    outline: none;
  }
  .footer-div .footer-data .footer-right .newsletter-div .newsletter-button {
    border: none;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.4em + 0.4vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    height: 100%;
    /* Primary/Purple Dark 100 */
    color: #2a27c9;
    background-color: white;
  }
  .footer-div .footer-data .footer-section {
    width: 33.333%;
    height: 100%;
  }
}

@media screen and (min-width: 480px) {
  .footer-div {
    width: 100%;
    height: 60vh;
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-data {
    width: 100%;
    height: 100%;
    border: 2px solid #e2e2ed;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .footer-div .footer-data .footer-left {
    padding: 20px 0px 30px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-left .logo {
    background-image: url("../assets/Logo.png");
    width: 20vw;
    height: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-left .options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: calc(0.5em + 0.5vw);
            column-gap: calc(0.5em + 0.5vw);
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    /* identical to box height, or 21px */
    text-align: center;
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-center {
    padding: 20px 0px 45px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-center .center-options {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5em + 0.5vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.2px;
    padding: 0;
    /* On White/Dark 100 */
    color: #060714;
  }
  .footer-div .footer-data .footer-center .primary-button {
    padding: 13px 12px;
    width: 44%;
    font-size: calc(0.5em + 0.5vw);
    white-space: nowrap;
  }
  .footer-div .footer-data .footer-center .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div .footer-data .footer-center .contact-icons .icon {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-right {
    border-left: 2px solid #e2e2ed;
    padding: 20px 60px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    text-align: left;
    /* or 24px */
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-right .newsletter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.5vh;
    width: 16vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
            box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    padding: 5px 10px;
    border-radius: 16px;
  }
  .footer-div .footer-data .footer-right .newsletter-div input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: calc(0.4em + 0.4vw);
    border-bottom: 1px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-right .newsletter-div input:focus {
    outline: none;
  }
  .footer-div .footer-data .footer-right .newsletter-div .newsletter-button {
    border: none;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.4em + 0.4vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    height: 100%;
    /* Primary/Purple Dark 100 */
    color: #2a27c9;
    background-color: white;
  }
  .footer-div .footer-data .footer-section {
    width: 33.333%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-div {
    width: 100%;
    height: 30em;
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-data {
    width: 80%;
    height: 100%;
    border: 2px solid #e2e2ed;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .footer-div .footer-data .footer-left {
    padding: 20px 0px 30px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-left .logo {
    background-image: url("../assets/Logo.png");
    width: 15vw;
    height: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-left .options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: calc(0.5em + 0.5vw);
            column-gap: calc(0.5em + 0.5vw);
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    /* identical to box height, or 21px */
    text-align: center;
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-center {
    padding: 20px 0px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-center .center-options {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5em + 0.5vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.2px;
    padding: 0;
    /* On White/Dark 100 */
    color: #060714;
  }
  .footer-div .footer-data .footer-center .primary-button {
    padding: 10px 12px;
    width: 50%;
    font-size: calc(0.5em + 0.5vw);
    white-space: nowrap;
  }
  .footer-div .footer-data .footer-center .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div .footer-data .footer-center .contact-icons .icon {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-right {
    border-left: 2px solid #e2e2ed;
    padding: 20px 60px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    text-align: left;
    /* or 24px */
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-right .newsletter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5vh;
    width: 16vw;
    background: #ffffff;
    -webkit-box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
            box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    padding: 5px 10px;
    border-radius: 16px;
  }
  .footer-div .footer-data .footer-right .newsletter-div input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: calc(0.4em + 0.4vw);
  }
  .footer-div .footer-data .footer-right .newsletter-div input:focus {
    outline: none;
  }
  .footer-div .footer-data .footer-right .newsletter-div .newsletter-button {
    border: none;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.4em + 0.4vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    height: 100%;
    /* Primary/Purple Dark 100 */
    color: #2a27c9;
    background-color: white;
  }
  .footer-div .footer-data .footer-section {
    width: 33.333%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .footer-div {
    width: 100%;
    height: 30em;
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-data {
    width: 80%;
    height: 100%;
    border: 2px solid #e2e2ed;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .footer-div .footer-data .footer-left {
    padding: 20px 0px 30px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-left .logo {
    background-image: url("../assets/Logo.png");
    width: 10vw;
    height: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-left .options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    /* identical to box height, or 21px */
    text-align: center;
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-center {
    padding: 20px 0px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-center .center-options {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5em + 0.5vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.2px;
    padding: 0;
    /* On White/Dark 100 */
    color: #060714;
  }
  .footer-div .footer-data .footer-center .primary-button {
    padding: 12px 12px;
    width: 44%;
    font-size: calc(0.5em + 0.5vw);
  }
  .footer-div .footer-data .footer-center .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div .footer-data .footer-center .contact-icons .icon {
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-right {
    border-left: 2px solid #e2e2ed;
    padding: 20px 60px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    text-align: left;
    /* or 24px */
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-right .newsletter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5vh;
    width: 16vw;
    background: #ffffff;
    -webkit-box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
            box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    padding: 5px 10px;
    border-radius: 16px;
  }
  .footer-div .footer-data .footer-right .newsletter-div input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: calc(0.4em + 0.4vw);
  }
  .footer-div .footer-data .footer-right .newsletter-div input:focus {
    outline: none;
  }
  .footer-div .footer-data .footer-right .newsletter-div .newsletter-button {
    border: none;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.4em + 0.4vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    height: 100%;
    /* Primary/Purple Dark 100 */
    color: #2a27c9;
    background-color: white;
  }
  .footer-div .footer-data .footer-section {
    width: 33.333%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-div {
    width: 100%;
    height: 30em;
    margin-top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-div .footer-data {
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
    border: 2px solid #e2e2ed;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-div .footer-data .footer-left {
    padding: 20px 0px 30px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #e2e2ed;
  }
  .footer-div .footer-data .footer-left .logo {
    background-image: url("../assets/Logo.png");
    width: 10vw;
    height: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-left .options ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    /* identical to box height, or 21px */
    text-align: center;
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-center {
    padding: 20px 0px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-center .center-options {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5em + 0.5vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    letter-spacing: 0.2px;
    padding: 0;
    /* On White/Dark 100 */
    color: #060714;
  }
  .footer-div .footer-data .footer-center .primary-button {
    padding: 13px 12px;
    width: 35%;
    font-size: calc(0.5em + 0.5vw);
  }
  .footer-div .footer-data .footer-center .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div .footer-data .footer-center .contact-icons .icon {
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer-div .footer-data .footer-right {
    border-left: 2px solid #e2e2ed;
    padding: 20px 60px 45px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-data .footer-right p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.4em + 0.4vw);
    line-height: 150%;
    text-align: left;
    /* or 24px */
    letter-spacing: 0.2px;
    /* On White/Grey 100 */
    color: #7780a1;
  }
  .footer-div .footer-data .footer-right .newsletter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5vh;
    width: 16vw;
    background: #ffffff;
    -webkit-box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
            box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    padding: 5px 10px;
    border-radius: 16px;
  }
  .footer-div .footer-data .footer-right .newsletter-div input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: calc(0.4em + 0.4vw);
  }
  .footer-div .footer-data .footer-right .newsletter-div input:focus {
    outline: none;
  }
  .footer-div .footer-data .footer-right .newsletter-div .newsletter-button {
    border: none;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.4em + 0.4vw);
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    height: 100%;
    /* Primary/Purple Dark 100 */
    color: #2a27c9;
    background-color: white;
  }
  .footer-div .footer-data .footer-section {
    width: 33.333%;
    height: 100%;
  }
}
/*# sourceMappingURL=Footer.css.map */