@media screen and (max-width: 768px) {
  button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 950px) {
  .nav-options {
    display: none;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1030px) and (min-width: 950px) {
  button {
    font-size: 1.2vw;
    white-space: nowrap;
  }
  .nav-options {
    display: block;
  }
  .logo,
  .account-options {
    width: 30%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1030px) {
  button {
    font-size: 1vw;
    white-space: nowrap;
  }
  .nav-options {
    display: block;
  }
  .logo,
  .account-options {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  button {
    font-size: 1vw;
    white-space: nowrap;
  }
  .nav-options {
    display: block;
  }
  .logo,
  .account-options {
    width: 30%;
  }
}

body button {
  border-radius: 12px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2px;
  /* On White/Grey 100 */
}

body .primary-button {
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  border: none;
  color: white;
}

body .secondary-button {
  background-color: white;
  border: 2px solid #7780a1;
  color: #7780a1;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

body .secondary-button:hover, body .secondary-button:focus {
  background: linear-gradient(104.42deg, #4745d0 0%, #2a27c9 60.23%);
  border: none;
  color: white;
}

.navbar {
  width: 99.5vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2.4375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .logo,
.navbar .account-options {
  width: 30%;
}

.navbar .account-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .account-options button {
  width: 40%;
  height: 3rem;
}

.navbar .nav-options {
  width: 60%;
}

.navbar .nav-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .nav-options ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: calc(0.5em + 0.5vw);
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7780a1;
}
/*# sourceMappingURL=Navbar.css.map */